<p id="notice"><%= notice %></p>

<div class="container">
  <div class="card mx-auto mt-5">
    <div class="card-header">Estudiante</div>
    <div class="card-body">

 <div class="form-group">
    <div class="form-row">
      <div class="col-md-6">
        <%= link_to 'Nuevo', new_student_path,{ class: "btn btn-warning btn-sm" } %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="form-row">
      <div class="col-md-6">

        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Id</th>
              <th>Primer nombre</th>
              <th>Primer apellido</th>
              <th>Grado</th>
              <th>Jornada</th>
              <th>Acudiente</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <% @students.each do |student| %>
              <tr>
                <td><%= student.id %></td>
                <td><%= student.primer_nombre %></td>
                <td><%= student.primer_apellido %></td>
                <td><%des_Grado= Grade.find_by(:id=>student.grado_id)%>
                  <%=des_Grado.descripcion%>
                <td><%des_Jornada= WorkingDay.find_by(:id=>student.jornada_id)%>
                  <%=des_Jornada.descripcion%>
                <td><%des_Parentesco= Attendant.find_by(:id=>student.acudiente_id)%>
                  <%=des_Parentesco.cedula%> - <%=des_Parentesco.primer_nombre%> <%=des_Parentesco.primer_apellido%></td>
                <td><%= link_to 'Ver', student,{ class: "btn btn-info btn-sm" } %></td>
                <td><%= link_to 'Editar', edit_student_path(student),{ class: "btn btn-success btn-sm" } %></td>
                <td><%= link_to 'Eliminar', student,:class=>"btn btn-danger btn-sm", method: :delete, data: { confirm: '¿Realmente desea eliminar el registro?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>
  </div>

    </div>
  </div>
</div>
