<%= form_with(model: observer_detail, local: true) do |form| %>
  <% if observer_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(observer_detail.errors.count, "error") %> prohibited this observer_detail from being saved:</h2>

      <ul>
      <% observer_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id %>
    <%= form.number_field :id, id: :observer_detail_id %>
  </div>

  <div class="field">
    <%= form.label :fecha_creacion %>
    <%= form.date_select :fecha_creacion, id: :observer_detail_fecha_creacion %>
  </div>

  <div class="field">
    <%= form.label :fecha_modificacion %>
    <%= form.date_select :fecha_modificacion, id: :observer_detail_fecha_modificacion %>
  </div>

  <div class="field">
    <%= form.label :tipo_seguimiento %>
    <%= form.number_field :tipo_seguimiento, id: :observer_detail_tipo_seguimiento %>
  </div>

  <div class="field">
    <%= form.label :fecha_sucesos %>
    <%= form.date_select :fecha_sucesos, id: :observer_detail_fecha_sucesos %>
  </div>

  <div class="field">
    <%= form.label :observacion %>
    <%= form.text_field :observacion, id: :observer_detail_observacion %>
  </div>

  <div class="field">
    <%= form.label :compromisos %>
    <%= form.text_field :compromisos, id: :observer_detail_compromisos %>
  </div>

  <div class="field">
    <%= form.label :obs_encabezado_id %>
    <%= form.number_field :obs_encabezado_id, id: :observer_detail_obs_encabezado_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
