<%= form_with(model: observer_detail, local: true) do |form| %>
  <% if observer_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(observer_detail.errors.count, "error") %> prohibited this observer_detail from being saved:</h2>

      <ul>
      <% observer_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="form-row">

      <div class="col-md-3">
        <label id="lblId">Id:</label>
        <input type="number" id="observer_detail_id" name="observer_detail[id]" 
        class="form-control" placeholder="id automatico" readonly="readonly"
        value="<%= @observer_detail != nil ? @observer_detail.id : '' %>" >
      </div>
      
      <div class="col-md-3">
        <label id="lblfecha_creacion">Fecha Creación:</label>
        <input type="text" id="observer_detail_fecha_creacion" name="observer_detail[fecha_creacion]" 
        class="form-control" placeholder="Fecha Automatico" readonly="readonly"
        value="<%= @observer_detail != nil ? @observer_detail.fecha_creacion : '' %>">
      </div>

      <div class="col-md-3">
        <label id="lblfecha_modificacion">Fecha Modificacion:</label>
        <input type="text" id="observer_detail_fecha_modificacion" name="observer_detail[fecha_modificacion]" 
        class="form-control" placeholder="Fecha Automatico" readonly="readonly"
        value="<%= @observer_detail != nil ? @observer_detail.fecha_modificacion : '' %>">
      </div>

      <div class="col-md-3">
        <label id="lblobs_encabezado_id">Numero Observador:</label>

        <input type="number" id="observer_detail_obs_encabezado_id" name="observer_detail[obs_encabezado_id]" 
        class="form-control" readonly="readonly"
        value="<%= session[:obs_id] %>" >

        
        <%@des_obs_encabezado_id = ObserverHead.all%>
        <!--<select id="observer_detail_obs_encabezado_id" name="observer_detail[obs_encabezado_id]" class="form-control">-->
          <% @des_obs_encabezado_id.each do |item|%>
            <!--<option value="<%= item.id %>" <%= @observer_detail.obs_encabezado_id == item.id ? 'selected' : '' %> ><%= item.id %></option>-->
          <% end %>
        <!--</select>-->
      </div>

    </div>
  </div>

  <div class="form-group">
    <div class="form-row">

      <div class="col-md-3">
        <label id="lbltipo_seguimiento">Tipo seguimiento:</label>
        <%@des_tipo_seguimiento = TracingType.all%>
        <select id="observer_detail_tipo_seguimiento" name="observer_detail[tipo_seguimiento]" class="form-control">
          <% @des_tipo_seguimiento.each do |item|%>
            <option value="<%= item.id %>" <%= @observer_detail.tipo_seguimiento == item.id ? 'selected' : '' %> ><%= item.descripcion %></option>
          <% end %>
        </select>
      </div>
      
      <div class="col-md-3">
        <label id="lblfecha_sucesos">Fecha sucesos:</label>
        <input type="text" id="observer_detail_fecha_sucesos" name="observer_detail[fecha_sucesos]" 
        class="form-control" placeholder="Fecha sucesos"
        value="<%= @observer_detail != nil ? @observer_detail.fecha_sucesos : '' %>">
      </div>

      <div class="col-md-3">
        <label id="lblobservacion">Observacion:</label>
        <input type="text" id="observer_detail_observacion" name="observer_detail[observacion]" 
        class="form-control" placeholder="Observacion" required="required"
        value="<%= @observer_detail != nil ? @observer_detail.observacion : '' %>">
      </div>

      <div class="col-md-3">
        <label id="lblcompromisos">Compromisos:</label>
        <input type="text" id="observer_detail_compromisos" name="observer_detail[compromisos]" 
        class="form-control" placeholder="Segundo Apellido"
        value="<%= @observer_detail != nil ? @observer_detail.compromisos : '' %>">
      </div>

    </div>
  </div>

  <div class="form-group">
    <div class="form-row">
      <div class="col-md-12">
        
        <input type="submit" id="btnAceptar" value="Aceptar"
        class="btn btn-primary" name="btnAceptar"/>

      </div>
    </div>
  </div>

<% end %>  