<p id="notice"><%= notice %></p>

<div class="container">
  <div class="card mx-auto mt-5">
    <div class="card-header">Detalle de observador</div>
    <div class="card-body">

 <div class="form-group">
    <div class="form-row">
      <div class="col-md-6">
      <% session[:pagina_enc]="observer_heads/".concat(session[:obs_id].to_s)%>
        <%= link_to 'Volver', session[:pagina_enc],{ class: "btn btn-info btn-sm" } %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="form-row">
      <div class="col-md-6">

        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Id</th>
              <th>Fecha creacion</th>
              <th>Tipo seguimiento</th>              
              <th>Obs encabezado</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
          
            <% @observer_details.each do |observer_detail| %>
            <% if session[:obs_id] == observer_detail.obs_encabezado_id %>
              
              <tr>
                <td><%= observer_detail.id %></td>
                <td><%= observer_detail.fecha_creacion %></td>
                <td><%des_observer_detail=TracingType.find_by(:id=>observer_detail.tipo_seguimiento)%>
            <%=des_observer_detail.descripcion%></td>
                <td><%= observer_detail.obs_encabezado_id %></td>
                <td><%= link_to 'Ver', observer_detail,{ class: "btn btn-info btn-sm" } %></td>
                <% if session[:obs_estado]==1 %>
                <td><%= link_to 'Editar', edit_observer_detail_path(observer_detail),{ class: "btn btn-success btn-sm" } %></td>
                <td><%= link_to 'Eliminar', observer_detail,:class=>"btn btn-danger btn-sm", method: :delete, data: { confirm: '¿Realmente desea eliminar el registro?' } %></td>
                <%end%>
              </tr>
            <% end %>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>
  </div>

    </div>
  </div>
</div>
