<%if @mensaje!=nil%>
<script>
swal({ title: "<%=@mensaje%>", type: "<%=@tipo%>", timer: 4000, 
showConfirmButton: true, closeOnConfirm: true });
</script>
<%end%>
<br>
<br>
<h1>Crear usuario - ObservadorWeb 1.0</h1>
<div class="container">
    <div class="card mx-auto mt-5">
        <div class="card-header">Registrar usuario</div>
        <div class="card-body">
        <%= form_tag(:id => "form_rgt", :controller => "users", :action => "save_register", :method => "post") do |f| %>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <label id="lbLogin">Login: </label>
                        <input class="form-control" id="txtLogin" name="txtLogin" type="email" aria-describedby="emailHelp" placeholder="Ingrese login (email)" required="required">
                    </div>
                    <div class="col-md-6">
                        <label id="lbPerfil">Perfil: </label>
                        <select id="ddlPerfiles" name="ddlPerfiles" class="form-control">
                            <%@perfiles.each do |item| %>
                              <option value="<%=item.id%>"><%=item.descripcion%></option>
                            <% end %>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <label id="lbPassword">Password: </label>
                        <input type="password" id="txtPassword" name="txtPassword" placeholder="Ingrese password" class="form-control" required="required">
                    </div>
                    <div class="col-md-6">
                        <label id="lbConfirmarPassword">Confirmar Password: </label>
                        <input type="password" id="txtConfirmarPassword" name="txtConfirmarPassword" placeholder="Confirmar password" class="form-control" required="required">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <label id="lbPrimerNombre">Primer Nombre: </label>
                        <input type="text" id="txtPrimerNombre" name="txtPrimerNombre" placeholder="Primer Nombre" class="form-control" required="required">
                    </div>
                    <div class="col-md-6">
                        <label id="lbSegundoNombre">Segundo Nombre: </label>
                        <input type="text" id="txtSegundoNombre" name="txtSegundoNombre" placeholder="Segundo Nombre" class="form-control" required="required">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <label id="lbPrimerApellido">Primer Apellido: </label>
                        <input type="text" id="txtPrimerApellido" name="txtPrimerApellido" placeholder="Primer Apellido" class="form-control" required="required">
                    </div>
                    <div class="col-md-6">
                        <label id="lbSegundoApellido">Segundo Apellido: </label>
                        <input type="text" id="txtSegundoApellido" name="txtSegundoApellido" placeholder="Segundo Apellido" class="form-control" required="required">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-12">
                        <label id="lbTelefono">Telefono: </label>
                        <input type="text" id="txtTelefono" name="txtTelefono" placeholder="Numero telefono" class="form-control" required="required">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-12">
                        <input type="submit" class="btn btn-primary btn-block" value="Aceptar" />
                    </div>
                </div>
            </div>
            
        <% end %>
        </div>
    </div>
</div>
