<%= form_with(model: observer_head, local: true) do |form| %>
  <% if observer_head.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(observer_head.errors.count, "error") %> prohibited this observer_head from being saved:</h2>

      <ul>
      <% observer_head.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="form-row">

      <div class="col-md-4">
        <label id="lblId">Id:</label>
        <input type="number" id="observer_head_id" name="observer_head[id]" 
        class="form-control" placeholder="id Automatico" readonly="readonly"
        value="<%= @observer_head != nil ? @observer_head.id : '' %>">        
      </div>
      
      <div class="col-md-4">        
        <label id="lblestudiante_id">Estudiante:</label>
        <%@des_Estudiante = Student.all%>
        <select id="observer_head_estudiante_id" name="observer_head[estudiante_id]" class="form-control">
          <% @des_Estudiante.each do |item|%>
            <option value="<%= item.id %>" <%= @observer_head.estudiante_id == item.id ? 'selected' : '' %> ><%= item.numero_identificacion %> - <%= item.primer_nombre %> <%= item.primer_apellido %></option>
          <% end %>
        </select>
      </div>

      <div class="col-md-4">        
        <label id="lblusuario_id">Usuario:</label>
        <%@des_Usuario = User.all%>
        <select id="observer_head_usuario_id" name="observer_head[usuario_id]" class="form-control">
          <% @des_Usuario.each do |item|%>
            <option value="<%= item.id %>" <%= @observer_head.usuario_id == item.id ? 'selected' : '' %> ><%= item.login %></option>
          <% end %>
        </select>
      </div>

      
    </div>
  </div>

  <div class="form-group">
    <div class="form-row">

      <div class="col-md-4">
        <label id="lbltitulo">Titulo:</label>
        <input type="text" id="observer_head_titulo" name="observer_head[titulo]" 
        class="form-control" placeholder="Titulo" required="required"
        value="<%= @observer_head != nil ? @observer_head.titulo : '' %>">        
      </div>
      
      <div class="col-md-4">        
        <label id="lblestado">Estado:</label>
        <%@des_Estado = ObserverState.all%>
        <select id="observer_head_estado" name="observer_head[estado]" class="form-control">
          <% @des_Estado.each do |item|%>
            <option value="<%= item.id %>" <%= @observer_head.estado == item.id ? 'selected' : '' %> ><%= item.descripcion %></option>
          <% end %>
        </select>
      </div>

      <div class="col-md-4">
        <label id="lblfecha_creacion">Fecha creacion:</label>
        <input type="text" id="observer_head_fecha_creacion" name="observer_head[fecha_creacion]" 
          class="form-control" placeholder="Fecha Automatico" readonly="readonly"
          value="<%= @observer_head != nil ? @observer_head.fecha_creacion : '' %>"> 
      </div>

    </div>
  </div>


  <div class="form-group">
    <div class="form-row">
      <div class="col-md-12">
        
        <input type="submit" id="btnAceptar" value="Aceptar"
        class="btn btn-primary" name="btnAceptar"/>

      </div>
    </div>
  </div>

<% end %>  