<p id="notice"><%= notice %></p>

<div class="container">
  <div class="card mx-auto mt-5">
    <div class="card-header">Acudiente</div>
    <div class="card-body">

       <div class="form-group">
        <div class="form-row">
          <div class="col-md-3">
            <strong>Id:</strong>
            <%= @attendant.id %>
          </div>
          <div class="col-md-3">
            <strong>Parentesco:</strong>
            <%des_parentesco=KinType.find_by(:id=>@attendant.parentesco)%>
            <%=des_parentesco.descripcion%>
          </div>
          <div class="col-md-3">
            <strong>Tipo documento:</strong>
            <%des_tipo_documento_id=DocumentType.find_by(:id=>@attendant.tipo_documento_id)%>
            <%=des_tipo_documento_id.descripcion%>            
          </div>
          <div class="col-md-3">
            <strong>Identificación:</strong>
            <%= @attendant.cedula %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="form-row">
          <div class="col-md-3">
            <strong>Primer nombre:</strong>
            <%= @attendant.primer_nombre %>
          </div>
          <div class="col-md-3">
            <strong>Segundo nombre:</strong>
            <%= @attendant.segundo_nombre %>
          </div>
          <div class="col-md-3">
            <strong>Primer apellido:</strong>
            <%= @attendant.primer_apellido %>
          </div>
          <div class="col-md-3">
            <strong>Segundo Apellido:</strong>
            <%= @attendant.segundo_apellido %>
          </div>
        </div>
      </div>  

      <div class="form-group">
        <div class="form-row">          
          <div class="col-md-3">
            <strong>Telefono celular:</strong>
            <%= @attendant.telefono_celular %>
          </div>
          <div class="col-md-3">
            <strong>Telefono fijo:</strong>
            <%= @attendant.telefono_fijo %>
          </div>
          <div class="col-md-3">
            <strong>Correo:</strong>
            <%= @attendant.correo %>
          </div>
          <div class="col-md-3">
            <strong>Dirección:</strong>
            <%= @attendant.direccion %>
          </div>
        </div>
      </div>

      

      <div class="form-group">
        <div class="form-row">
          <div class="col-md-3">
            <strong>Genero:</strong>
            <%des_Genero=Gender.find_by(:id=>@attendant.genero)%>
            <%=des_Genero.descripcion%>
          </div>
          <div class="col-md-3">
            <strong>Fecha creación:</strong>
            <%= @attendant.fecha_creacion %>
          </div>
        </div>
      </div>    

      <div class="form-group">
        <div class="form-row">
            <div class="col-md-6">
                <%= link_to 'Editar', edit_attendant_path(@attendant),{ class: "btn btn-info btn-sm" } %> 
                <%= link_to 'Volver', attendants_path,{ class: "btn btn-info btn-sm" } %>
            </div>
        </div> 
      </div>
    </div>
  </div> 
</div>


