<%= form_with(model: working_day, local: true) do |form| %>
  <% if working_day.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(working_day.errors.count, "error") %> prohibited this working_day from being saved:</h2>

      <ul>
      <% working_day.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="form-row">
      <div class="col-md-3">

        <label id="lblId">Id:</label>
        <input type="number" id="working_day_id" name="working_day[id]" 
        class="form-control" placeholder="id Automatico" readonly="readonly"
        value="<%= @working_day != nil ? @working_day.id : '' %>">
        
      </div>
      
      <div class="col-md-3">
        
        <label id="lbldescripcion">Descripción:</label>
        <input type="text" id="working_day_descripcion" name="working_day[descripcion]" 
        class="form-control" placeholder="Ingrese descripción" required="required"
        value="<%= @working_day != nil ? @working_day.descripcion : '' %>">

      </div>

      <div class="col-md-3">
        
        <label id="lblfecha_creacion">Fecha creación:</label>
        <input type="text" id="working_day_fecha_creacion" name="working_day[fecha_creacion]" 
        class="form-control" placeholder="Fecha Automatico" readonly="readonly"
        value="<%= @working_day != nil ? @working_day.fecha_creacion : '' %>">

      </div>

    </div>
  </div>

  <div class="form-group">
    <div class="form-row">
      <div class="col-md-12">
        
        <input type="submit" id="btnAceptar" value="Aceptar"
        class="btn btn-primary" name="btnAceptar"/>

      </div>
    </div>
  </div>

<% end %>  