<p id="notice"><%= notice %></p>

<div class="container">
  <div class="card mx-auto mt-5">
    <div class="card-header">Jornada</div>
    <div class="card-body">

 <div class="form-group">
    <div class="form-row">
      <div class="col-md-6">
        <%= link_to 'Nuevo', new_working_day_path,{ class: "btn btn-warning btn-sm" } %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="form-row">
      <div class="col-md-6">

        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Id</th>
              <th>Descripcion</th>
              <th>Fecha creación</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <% @working_days.each do |working_day| %>
              <tr>
                <td><%= working_day.id %></td>
                <td><%= working_day.descripcion %></td>
                <td><%= working_day.fecha_creacion %></td>
                <td><%= link_to 'Ver', working_day,{ class: "btn btn-info btn-sm" } %></td>
                <td><%= link_to 'Editar', edit_working_day_path(working_day),{ class: "btn btn-success btn-sm" } %></td>
                <td><%= link_to 'Eliminar', working_day,:class=>"btn btn-danger btn-sm", method: :delete, data: { confirm: '¿Realmente desea eliminar el registro?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>
  </div>

    </div>
  </div>
</div>
